# API
VUE_APP_API_URL=

# Storage
VUE_APP_STORAGE_BASE=

# Tezos/Dapp Wallet Configs
VUE_APP_TEZOS_DAPP_NAME="Project Uanon"
VUE_APP_TEZOS_NETWORK="edonet"
VUE_APP_TEZOS_RPC_URL="https://testnet-tezos.giganode.io"

# Tezos Contracts
VUE_APP_TEZOS_ORACLE="KT1Cs2ZCPgQQEzWh8XvQigU1o5ZLmgjfBE7b"
VUE_APP_TEZOS_NFT_SEASON_0="KT1GyGTDB65FxvosoB8rRLvdn68ei62UU2kD"

# Misc.
VUE_APP_TESTNET_ENTROPY="secret"