# API
VUE_APP_API_URL=https://api.uanon.observer

# Storage
VUE_APP_STORAGE_BASE=https://uanon.s3.amazonaws.com

# Tezos/Dapp Wallet Configs
VUE_APP_TEZOS_DAPP_NAME="Project Uanon"
VUE_APP_TEZOS_NETWORK="mainnet"
VUE_APP_TEZOS_RPC_URL="https://mainnet-tezos.giganode.io"

# Tezos Contracts
VUE_APP_TEZOS_ORACLE="KT1VJsKdNFYueffX6xcfe6Gg9eJA6RUnFpYr"
VUE_APP_TEZOS_NFT_SEASON_0="KT1TBaU9Jz3DnZAifL9pcW4g3EvH9WpNFyo1"
VUE_APP_TEZOS_NFT_SEASON_1="KT1EVXyKLk4MSAfsSqyLVSTsRHYG9fXFHnwe"
VUE_APP_TEZOS_NFT_SEASON_2="KT1SFDJHTVMnfvc72E4vUt4Rpy9xvGKt1xSw"

# Misc.
VUE_APP_TESTNET_ENTROPY="secret"
